{% extends pluginConf.mainTemplate %}

{% block title %}Forums - {{tabDesc}}{% endblock %}

{% block head %}

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/forums/public/forums-main.css">

<style>


</style>
{% endblock %}
{% block content %}

<h1>{{title}}</h1>
{% include "../inc/share-btns-row.html" %}

{%if indexAnnouncement%}
<p>{{indexAnnouncement}}</p>
{%endif%}

<div class="row" style="margin-bottom: 0px">  
  <div class="large-12 columns">
  <a class="btn btn-primary button alert small" href="/forums/post">Ask a Question / Post a Message</a>
  </div>
</div>


{%if not categories or categories.length == 0%}
You have 0 categories. <a class="btn btn-primary button" href="/admin/forums/categories">Add</a>
{%else%}

<div class="row" style="margin-bottom: 0px">  
<div class="large-12 columns" style="margin-bottom: 0px">
  <dl class="sub-nav" style="margin-bottom: 0px">
    <dt></dt>
    {%for tab in tabs%}
      <dd{%if selectedTab == tab.id%} class="active"{%endif%}><a href="{{tab.link}}">{{tab.desc}}</a></dd>
    {%endfor%}
    
  </dl>
</div>
</div>

<div class="row">
  
  <div class="large-12 columns">

    <table class="forums table">
      <tr class="row forums-cat">
        <th class="first large-1 columns">
          &nbsp;
        </th>
        <th class="large-7 columns">
          &nbsp;
        </th>

        <th class="large-3 columns" style="text-align: left">
          Last Active Post
        </th>
        
        {#
        <th class="large-1 columns">
          Views
        </th>
        #}
        
      </tr>
    {%for category in categories%}
      <tr class="row forums-cat" style="background: {{category.color}};">
        <td class="first large-1 columns forums-cat-icon {%if category.icon == 'fa-newspaper-o'%}news{%endif%}">
          {%if category.icon%}
          <i class="fa {{category.icon}} fa-2x"></i>
          {%endif%}
        </td>
        <td class="large-7 columns forums-cat-text-container">
          <div><a href="/forums/category/{{category._id}}/{{category.slug}}" class="forums-cat-text">{{category.name}}</a></div>
          <p class="forums-cat-desc-text">{{category.desc}}</p>
        </td>

        <td class="large-3 columns last-active-container">
          <span class="last-active">
            {%if category.lastActiveTopic%}

            <a href="/forums/topic/{{category.lastActiveTopic._id}}">
              {{category.lastActiveTopic.title.substr(0, 40)}}{%if category.lastActiveTopic.title.length > 40%}...{%endif%}
            </a>
             
            {%endif%} 
          </span>
        </td>

        {#
        <td class="large-1 columns viewcount-container">
          <span class="viewcount">{{category.viewCount}}</span>
        </td>
        #}
        
      </tr>
    {%endfor%}
    {%endif%}
    </table>


  </div>
</div>


{% endblock %}


