{% extends pluginConf.mainTemplate %}

{% block title %}Forums - {{tabDesc}}{% endblock %}

{% block head %}

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/forums/public/forums-main.css">

<style>


</style>
{% endblock %}
{% block content %}

<h1>{{title}}</h1>

{%if indexAnnouncement%}
<p>{{indexAnnouncement}}</p>
{%endif%}

<div class="row" style="margin-bottom: 0px">  
  <div class="large-12 columns">
  <a class="btn btn-primary button alert small" href="/forums/post">Ask a Question / Post a Message</a>
  </div>
</div>

<div class="row">  
<div class="large-12 columns" style="margin-bottom: 0px">
  <dl class="sub-nav" style="margin-bottom: 0px">
    <dt></dt>
    {%for tab in tabs%}
      <dd{%if selectedTab == tab.id%} class="active"{%endif%}><a href="{{tab.link}}">{{tab.desc}}</a></dd>
    {%endfor%}
    
  </dl>
</div>
</div>


{%if rec.length == 0%}
  <div class="row">
    <div class="large-12 columns">
      <p>No records yet.</p>
    </div>
  </div>
{%else%}


<div class="forums-cat">
{{table | safe}}
</div>

{%endif%}


{% endblock %}


