{% extends _cms.conf.adminTemplate %}

{% block content %}
{{super()}}


<a href="{{redirectAfter}}"  class="btn btn-default">Back</a>
<br/><br/>

<form method="post">
  <input type="hidden" name="_csrf" value="{{_csrf}}" />
  <input type="hidden" name="category" value={{category._id}} />

  <input type="hidden" name="_id" value="{{rec._id}}" />
  <input type="hidden" name="redirectAfter" value="{{redirectAfter}}" />
  <input type="hidden" name="modelName" value="ForumsCategory" />
  <input type="hidden" name="forum" value="{{defaultForum._id}}" />
  
  <div class="form-group">
      <label>Subject</label>
      <input class="form-control" name="name" value="{{rec.name}}">
  </div>


  
  <div class="form-group">
      <label>Description</label>
      <textarea class="form-control" name="desc">{{rec.desc}}</textarea>
  </div>

  <div class="form-group">
      <label>Icon</label>
      <input class="form-control" name="icon" value="{{rec.icon}}">
  </div>


  <button type="submit" class="btn btn-primary">Save</button>

  

</form>



{% endblock %}