{% extends _cms.conf.adminTemplate %}

{% block content %}
{{super()}}


<a href="{{redirectAfter}}"  class="btn btn-default">Back</a>
<br/><br/>

<form method="post">
  <input type="hidden" name="_csrf" value="{{_csrf}}" />
  <input type="hidden" name="forum" value={{defaultForum._id}} />

  <input type="hidden" name="_id" value="{{rec._id}}" />
  <input type="hidden" name="modelName" value="{{modelAttr.name}}" />
  <input type="hidden" name="redirectAfter" value="{{redirectAfter}}" />
  
  <div class="form-group">
      <label>Name</label>
      <input class="form-control" name="name" value="{{rec.name}}">
  </div>


  
  <div class="form-group">
      <label>Desc</label>
      <input class="form-control" name="desc" value="{{rec.desc}}">
  </div>

  <div class="form-group">
      <label>Seq</label>
      <input class="form-control" name="seq" value="{{rec.seq}}">
  </div>

  <div class="form-group">
      <label>Color</label>
      <input class="form-control" name="color" value="{{rec.color}}">
  </div>

  <div class="form-group">
      <label>Icon</label>
      <input class="form-control" name="icon" value="{{rec.icon}}">
  </div>


  <button type="submit" class="btn btn-primary">Save</button>

  

</form>



{% endblock %}