<div class="share-row">
  <!-- AddToAny BEGIN -->
  <div class="a2a_kit a2a_kit_size_32 a2a_default_style">

    {% if _addSubscribe %}
    
    <a class="frms-subscribe" onclick="onClickSubscribe(); return false;" href="#" id="SUBS_LINK_BTN"></a>
    <script>
      function handleSubscribeBtn() {
        var oSubsBtn = $('#SUBS_LINK_BTN');
        $.getJSON( "/forums/action/is-subscribed?listId={{_addSubscribeListId}}", function( returnObj ) {
          changeSubscribeBtn(returnObj.data.isSubscribed == 'Y');
        });
      }

      function changeSubscribeBtn(toUnsubscribe) {
        var oSubsBtn = $('#SUBS_LINK_BTN'); 
        if (toUnsubscribe) {
            oSubsBtn.attr('title', 'Unsubscribe');
            oSubsBtn.html('<i class="fa fa-bell-slash-o"></i>');
          } else {
            oSubsBtn.attr('title', 'Subscribe');
            oSubsBtn.html('<i class="fa fa-bell"></i>');
          }
      }

      function onClickSubscribe() {

        {%if _user%}
          var oSubsBtn = $('#SUBS_LINK_BTN');
          var btnTitle = oSubsBtn.attr('title');
          if (btnTitle == 'Subscribe') {

            changeSubscribeBtn(true);
            $.getJSON( "/forums/action/subscribe?listId={{_addSubscribeListId}}", function( returnObj ) {
              // TODO: transfer delay button here
            });
          } else if (btnTitle == 'Unsubscribe') {
            changeSubscribeBtn(false);
            
            $.getJSON( "/forums/action/unsubscribe?listId={{_addSubscribeListId}}", function( returnObj ) {
              // TODO: transfer delay button here
            });
          } else {
            alert("Not supported title" + oSubsBtn.title);
          }

        {%else%}

          window.location.href = '/forums/action/subscribe-wredirect?listId={{_addSubscribeListId}}&r=' + encodeURIComponent(window.location.pathname);

        {%endif%}
      }

      handleSubscribeBtn();
    </script>



    {% endif %}
    <a title="Share on Facebook" class="a2a_button_facebook"></a>
    <a title="Share on Twitter" class="a2a_button_twitter"></a>
    <a title="Share via Email" class="a2a_button_email"></a>
    <a title="More" class="a2a_dd" href="https://www.addtoany.com/share"></a>
  </div>
  <script async src="https://static.addtoany.com/menu/page.js"></script>
  <!-- AddToAny END -->
</div>