{% extends pluginConf.mainTemplate %}

{% block title %}{{topic.title}}{% endblock %}

{% block head %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/forums/public/forums-main.css">

{% endblock %}

{% block content %}

<ul class="breadcrumbs forums-breadcrumbs">
  <li><a href="/forums/tab/categories">Categories</a></li>
  <li><a href="/forums/category/{{topic.category._id}}">{{topic.category.name}}</a></li>
  
  <li class="current"><a href="#">{{topic.title.substr(0, 50)}}{%if topic.title.length > 50%}...{%endif%}</a></li>
</ul>

<h1>{{topic.title}}</h1>


{% set _addSubscribe = true %}
{% include "./inc/share-btns-row.html" %}


{{table | safe}}

<a href="/forums/reply?topic={{topic._id.toString()}}" class="button btn btn-primary small alert">Reply</a>

{% endblock %}



{% block beforeEndBody %}
<script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"></script>
<script src="//twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
<script>

  let currentPopupObj;

  document.addEventListener('DOMContentLoaded', function () {
      twemoji.parse(document.getElementById("MAIN_BODY"));

      document.addEventListener('click', function(event) {
        if (currentPopupObj) {
          if (currentPopupObj.firstClick == true) {
            currentPopupObj.firstClick = false;
          } else {
            if (!currentPopupObj.mypopup.contains(event.target) && isVisible(currentPopupObj.mypopup)) {
              $(currentPopupObj.mypopup).hide();
              currentPopupObj = null;
            }
          }
          
        }
      })
  });

  

  function showPopup(el) {

    var mypopup = el.parentNode.parentNode.querySelector('.mypopup');
    

    if (currentPopupObj && mypopup != currentPopupObj.mypoup) {
        $(currentPopupObj.mypopup).hide();
    }

    currentPopupObj = {
      el: el,
      mypopup: mypopup,
      firstClick: true
    }

    new Popper(el, mypopup ,{
        placement: 'bottom',
                            
    });

  
    $(mypopup).show();
    // setTimeout(function() {
    //   hideOnClickOutside(mypopup);
    // }, 0)
  }

  function forumsPostLike(postId) {
    var postLikesObj = $("#POST_LIKES_" + postId);
    var likedData = postLikesObj.data('liked');
    $.getJSON( "/forums/action/post-like?postId=" + encodeURIComponent(postId) 
      + '&unlike=' + likedData, function( respJson ) {
      if (respJson) {
        if (likedData === 'Y') {
          postLikesObj.data('liked', 'N');
        } else {
          postLikesObj.data('liked', 'Y');
        }

        if (respJson.data.likeCount == 0) {
          postLikesObj.removeClass('likes-active');
          $('#LIKE_COUNTER_' + postId).addClass('be-the-first').text('{{beTheFirstStr}}');
        } else {
          postLikesObj.addClass('likes-active');
          $('#LIKE_COUNTER_' + postId).removeClass('be-the-first').text(respJson.data.likeCount.toString())  
        }
        
      }
      //alert(JSON.stringify(data));

    });
  }

  function hideOnClickOutside(element) {
      const outsideClickListener = event => {
          if (!element.contains(event.target) && isVisible(element)) { // or use: event.target.closest(selector) === null
            element.style.display = 'none'
            removeClickListener();
          }
      }

      const removeClickListener = () => {
          document.removeEventListener('click', outsideClickListener)
      }

      document.addEventListener('click', outsideClickListener)
  }

  const isVisible = elem => !!elem && !!( elem.offsetWidth || elem.offsetHeight || elem.getClientRects().length ) // source (2018-03-11): https://github.com/jquery/jquery/blob/master/src/css/hiddenVisibleSelectors.js 
</script>
{% endblock %}
