{% extends pluginConf.mainTemplate %}

{% block title %}Category{% endblock %}

{% block head %}

 <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/forums/public/forums-main.css">

<style>


</style>
{% endblock %}
{% block content %}

<a href="/forums" class="back-to"><i class="fa fa-arrow-left"></i> Back to forums list</a>

<h1>{{category.name}}</h1>

<a href="/forums/post?category={{category._id.toString()}}" class="button btn btn-primary">New Topic</a>

<div class="forums-cat">
{{table | safe}}
</div>

{% endblock %}


