{% extends pluginConf.mainTemplate %}

{% block title %}Forums{% endblock %}

{% block head %}

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/forums/public/forums-main.css">

<style>


</style>
{% endblock %}
{% block content %}

<h1>Welcome to {{defaultForum.name}} forum!</h1>

<div class="row" style="margin-bottom: 0px">  
  <div class="large-12 columns">
  <a class="btn btn-primary button" href="/forums/post">Ask a Question / Post a Message</a>
  </div>
</div>


{%if not categories or categories.length == 0%}
You have 0 categories. <a class="btn btn-primary button" href="/admin/forums/categories">Add</a>
{%else%}

<h2>Categories</h2>

<div class="row">
  
  <div class="large-12 columns">

    <table class="forums">
      <tr class="row forums-cat">
        <th class="first large-1 columns">
          &nbsp;
        </th>
        <th class="large-7 columns">
          &nbsp;
        </th>

        <th class="large-3 columns" style="text-align: left">
          Last Active Post
        </th>

        <th class="large-1 columns">
          Views
        </th>
        
      </tr>
    {%for category in categories%}
    	<tr class="row forums-cat" style="background: {{category.color}};">
    		<td class="first large-1 columns forums-cat-icon {%if category.icon == 'fa-newspaper-o'%}news{%endif%}">
    			{%if category.icon%}
    			<i class="fa {{category.icon}} fa-2x"></i>
    			{%endif%}
    		</td>
    		<td class="large-7 columns forums-cat-text-container">
    			<div><a href="/forums/category?_id={{category._id}}" class="forums-cat-text">{{category.name}}</a></div>
    			<p class="forums-cat-desc-text">{{category.desc}}</p>
    		</td>

        <td class="large-3 columns last-active-container">
          <span class="last-active">
            {%if category.lastActiveTopic%}

            <a href="/forums/topic?_id={{category.lastActiveTopic._id}}">
              {{category.lastActiveTopic.title.substr(0, 40)}}{%if category.lastActiveTopic.title.length > 40%}...{%endif%}
            </a>
             
            {%endif%} 
          </span>
        </td>

        <td class="large-1 columns viewcount-container">
          <span class="viewcount">{{category.viewCount}}</span>
        </td>
    	  
    	</tr>
    {%endfor%}
    {%endif%}
    </table>


  </div>
</div>

{%if topTopics and topTopics.length > 0%}

<h2><a id="topTopics">Top Topics</a></h2>

<div class="large-12 columns">
  <dl class="sub-nav">
  <dt></dt>
  <dd{%if subTab == 'latest'%} class="active"{%endif%}><a href="/forums?subTab=latest#topTopics">Latest</a></dd>
  <dd{%if subTab == 'mostViewed'%} class="active"{%endif%}><a href="/forums?subTab=mostViewed#topTopics">Most Viewed</a></dd>
  {#TODO: most active (most replies?)#}
</dl>

{%for topic in topTopics%}
<div class="row">
  <div class="large-12 columns">
    <a href="/forums/topic?_id={{topic._id}}">{{topic.title}}</a> 
    {%if subTab == 'latest'%}
    (posted {{topic.createDt | date('MMM DD, YYYY hh:mm')}})
    {%else%}
    ({{topic.viewCount}} views)
    {%endif%}
  </div>
</div>
{%endfor%}

{%endif%}

{% endblock %}


