{% extends pluginConf.mainTemplate %}

{% block title %}Post a Message / Ask a Question{% endblock %}

{% block head %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/simplemde@1.11.2/dist/simplemde.min.css">
<script src="//cdn.jsdelivr.net/npm/simplemde@1.11.2/dist/simplemde.min.js"></script>
<link rel="stylesheet" href="/forums/public/forums-main.css">
{% endblock %}

{% block content %}

<div class="row">
  <div class="large-12 columns">
    <a href="{%if topic%}/forums/topic/{{topic._id}}/{{topic.titleSlug}}{%elif category%}/forums/category/{{category._id}}/{{category.slug}}{%else%}/forums{%endif%}" class="back-to" onclick="return confirm('Are you sure you want to go back?')"><i class="fa fa-arrow-left"></i> Back to Topic</a>
  </div>
</div>

<form method="POST" name="frmPeso">
<input type="hidden" name="_csrf" value="{{_csrf}}" />
<input type="hidden" name="topicId" value="{{topic._id}}" />
{%if post._id%}
<input type="hidden" name="_id" value="{{post._id}}" />
{%endif%}

{%if post._id%}
<h1>Update Reply</h1>
{%else%}
<h1>New Reply</h1>
{%endif%}

<div class="row reply-row">
  
  <div class="large-12 columns">


    <div class="form-group reply-msg">
       
        <textarea id="TXT_MSG" name="msg" style="height: 433px">{{post.msg}}</textarea>
      

    </div>

  </div>
</div>

<div class="row">
  
  <div class="large-12 columns">
    <button class="btn btn-primary button alert" type="submit">
      {%if post._id%}
      Save
      {%else%}
      Post
      {%endif%}
    </button>
  </div>
</div>

</form>

{% endblock %}

{% block beforeEndBody %}
<script>
  var simplemde = new SimpleMDE({ element: document.getElementById("TXT_MSG") });
</script>

<script src="//twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
      twemoji.parse(document.getElementById("MAIN_BODY"));
  });
</script>
{% endblock %}

