{% extends pluginConf.mainTemplate %}

{% block title %}Forum{% endblock %}

{% block head %}
{% endblock %}

{% block content %}



<div class="row">
  
  <div class="medium-4 medium-centered columns">
  <h1>Login</h1>
    <form action="/login" method="post"> 
      <input type="hidden" name="r" value="{{r}}"/>
      <input type="text" name="username" placeholder="Email / Username" value="{{username}}"/> 
      <input type="password" name="password" placeholder="Password"/> 
      <button type="submit" class="small button">Log In</button>
    </form>

    <p>No account yet? <a href="/register">Register here</a>.
  </div>
  
  
</div>

{% endblock %}


