{% extends pluginConf.mainTemplate %}

{% block title %}Category{% endblock %}

{% block head %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/forums/public/forums-main.css">

<style>


</style>
{% endblock %}
{% block content %}

<ul class="breadcrumbs forums-breadcrumbs">
  <li><a href="/forums/tab/categories">Categories</a></li>
  
  <li class="current"><a href="#">{{category.name}}</a></li>
</ul>

<h1>{{category.name}}</h1>

<p>{{category.longDesc or category.desc}}</p>

<a href="/forums/post?category={{category._id.toString()}}" class="button btn btn-primary alert small">New Topic</a>

<div class="forums-cat">
{{table | safe}}
</div>

{% endblock %}

{% block beforeEndBody %}
<script src="//twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
      twemoji.parse(document.getElementById("MAIN_BODY"));
  });
</script>
{% endblock %}


