{% extends pluginConf.mainTemplate %}

{% block title %}Forum{% endblock %}

{% block head %}

 <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

{# TODO!!! Transfer to css  #}
<style>
.forums-cat {
	padding: 20px;

}

.forums-cat-icon {
	color: white;
}

.forums-cat-text {
	font-weight: bold;
	color: #006FFF;
}

.forums-cat-desc-text {
	margin-bottom: 0;
	color: #666;
	font-size: 14px;
}

.forums-cat .columns {
	margin-bottom: 0;
}

</style>
{% endblock %}
{% block content %}

<h1>Welcome to {{defaultForum.name}} forum!</h1>

<div class="row">
  
  <div class="large-12 large-centered columns">
  	{%if not categories or categories.length == 0%}
    You have 0 categories. <a class="btn btn-primary button" href="/admin/forums/categories">Add</a>
    {%else%}

    {%for category in categories%}
    	<div class="row forums-cat" style="background: {{category.color}};">
    		<div class="large-2 columns forums-cat-icon">
    			{%if category.icon%}
    			<i class="fa {{category.icon}} fa-2x"></i>
    			{%endif%}
    		</div>
    		<div class="large-10 columns forums-cat-text-container">
    			<div><a href="/forums/category?_id={{category._id}}" class="forums-cat-text">{{category.name}}</a></div>
    			<p class="forums-cat-desc-text">{{category.desc}}</p>
    		</div>
    	  
    	</div>
    {%endfor%}
    {%endif%}
  </div>
</div>

{% endblock %}


