{% extends pluginConf.mainTemplate %}

{% block title %}Topic{% endblock %}

{% block head %}

<style>
table tr td {
  vertical-align: top;
}

table thead {
  display: none;
}
</style>
{% endblock %}

{% block content %}

<h1>{{topic.title}}</h1>

<a href="/forums/reply?topic={{topic._id.toString()}}" class="button btn btn-primary">Reply</a>

{{table | safe}}

<a href="/forums/reply?topic={{topic._id.toString()}}" class="button btn btn-primary">Reply</a>

{% endblock %}


