{% extends pluginConf.mainTemplate %}

{% block title %}Category{% endblock %}

{% block head %}

 <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

{# TODO!!! Transfer to css  #}
<style>

.forums-topic .topic-title {
	font-size: 18px;
}

.forums-topic table thead tr td {
  font-weight: normal;
  color: #ccc;
}

.forums-topic table thead {
  background: transparent;
}

.forums-topic table {
  border: 0;
}

.forums-topic tbody tr td {
  padding: 18px 10px;
}

.forums-topic table {
  width: 100%;
}

</style>
{% endblock %}
{% block content %}

<a href="/forums"><i class="fa fa-arrow-left"></i> Back to forums list</a>

<h1>{{category.name}}</h1>

<a href="/forums/post?category={{category._id.toString()}}" class="button btn btn-primary">New Topic</a>

<div class="forums-topic">
{{table | safe}}
</div>

{% endblock %}


