{% extends pluginConf.mainTemplate %}

{% block title %}Post a Message / Ask a Question{% endblock %}

{% block head %}
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/simplemde@1.11.2/dist/simplemde.min.css">
<script src="//cdn.jsdelivr.net/npm/simplemde@1.11.2/dist/simplemde.min.js"></script>

<style>


input[type=text] {
  display: block;
  width: 100%;
  border-radius: 3px;
  padding: 12px;
  font-size: 18px;
}


option {
  padding: 12px;
}

select {
  height: 40px;
  font-size: 18px;
  border: 1px solid #ccc;
  color: #333;
}

label {
  line-height: 23px;
}
</style>
{% endblock %}

{% block content %}

<div class="row">
  <div class="large-12 columns">
    <a href="{%if topic%}/forums/topic?_id={{topic._id}}{%elif category%}/forums/category?_id={{category._id}}{%else%}/forums{%endif%}" class="back-to">Cancel</a>
  </div>
</div>

<form method="POST" name="frmPeso">
<input type="hidden" name="_csrf" value="{{_csrf}}" />
{%if rec._id%}
<h1>Update Post</h1>
{%else%}
<h1>New Post</h1>
{%endif%}


<div class="row">
  
  <div class="large-12 columns">

    <div class="form-group">
        <label>Title
        <input type="text" class="form-control" name="title" value="{{rec.title}}">
        </label>
    </div>

    <div class="form-group">
        <label>Category
        <select name="category">
          {%for cat in categories%}
            <option value="{{cat._id}}" {%if cat._id and cat._id.equals(category._id)%}selected{%endif%}>{{cat.name}}</option>
          {%endfor%}
        </select>
        </label>
    </div>

    <div class="form-group">
        <label>Message (this uses the <a target="_blank" href="https://guides.github.com/features/mastering-markdown/">Markdown</a> format)
        <textarea id="TXT_MSG" name="msg" style="height: 433px" placeholder="{%if not hasPostedBefore%}Haven't posted before? Please read this:&#10;&#10;Please add details to your post. It would also help at times if you introduce yourself and tell us what you so it can help other people in answering your question.&#10;&#10;Write in full sentences, be polite, and the community is here to help you.&#10;&#10;Thank you!{%endif%}"></textarea>
        </label>

    </div>


    <div class="form-group">
        <label>Tags
        <input type="text" class="form-control" name="tags" value="{{rec.title}}" placeholder="comma, separated, words">
        </label>
    </div>

  </div>
</div>

<div class="row">
  
  <div class="large-6 columns">
    <button class="btn btn-primary button" type="submit">Post</button>
  </div>

{#
  <div class="large-6 columns" style="text-align: right;">
    <a class="btn button secondary" href="/forums/topic?_id={{category._id}}">Cancel</a>
  </div>
  #}

</div>

</form>

{% endblock %}


{%block bodyend%}
<script>
  var simplemde = new SimpleMDE({ element: document.getElementById("TXT_MSG") });
</script>

{%endblock%}


