{% extends pluginConf.mainTemplate %}

{% block title %}Topic{% endblock %}

{% block head %}


  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
table tr td {
  vertical-align: top;
}

table thead {
  display: none;
}
</style>
{% endblock %}

{% block content %}

<a href="/forums/category?_id={{topic.category._id}}"><i class="fa fa-arrow-left"></i> Back to {{topic.category.name}}</a>

<h1>{{topic.title}}</h1>

<a href="/forums/reply?topic={{topic._id.toString()}}" class="button btn btn-primary">Reply</a>

{{table | safe}}

<a href="/forums/reply?topic={{topic._id.toString()}}" class="button btn btn-primary">Reply</a>

{% endblock %}


