/*TODO: minify*/

.forums-cat {
  padding: 20px;
}

.forums-cat-icon {
  color: white;
  text-align: center;
  
}

.forums-cat-icon.news {
  font-size: 12px;
}

.forums-cat-text {
  font-weight: bold;
  color: #006FFF;
  font-size: 17px;
}

.forums-cat-desc-text {
  margin-top: 3px;
  margin-bottom: 0;
  color: #666;
  font-size: 14px;
  line-height: 17px;
}

.forums-cat .columns {
  margin-bottom: 0;
}

.forums {
  width: 100%;
  border: 0;
}

.forums tr {
  border: 0;
  border-bottom: 6px solid white;
}

.forums tr td {
  padding: 20px 12px;
}

.forums tr td.first {
  padding-left: 16px;
}

.forums tr th {
  padding: 0 12px;
  text-align: center;
  font-weight: normal;
  color: #ccc;
}

.forums a {
  color: #5060ff;
}

.forums .viewcount {
  vertical-align: middle;
}

.forums .viewcount-container {
  text-align: center;
}

.forums .users-container {
  text-align: center;
}

.forums-cat .topic-title {
  font-size: 18px;
}

.forums-cat table thead tr td {
  font-weight: normal;
  color: #ccc;
}

.forums-cat table thead {
  background: transparent;
}

.forums-cat table {
  border: 0;
}

.forums-cat tbody tr td {
  padding: 18px 10px;
}

.forums-cat table {
  width: 100%;
}

.forums-topic {
  width: 100%;
  border: 0;
}

.forums-topic tr {
  margin-top: 12px;
}

.forums-topic tr td {
  vertical-align: top;
}

.forums-topic thead {
  display: none;
}

.row.header-topic {
  margin-bottom: 12px;
}

.header-sep {
  border-bottom: 1px solid #eee;
  margin-bottom: 12px;
}

.reply-msg label {
  line-height: 23px;
}

.back-to {
  display: block;
  margin-bottom: 20px;
}

